// ux-port.scss
// Option A: Include all of Bootstrap
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Montserrat&display=swap');
//mine

$bg-color: #e8e8e8;
$font-color: #313131;
$blu-gry: #1A1F28;

$orange: #F2994A;
$bg-contrast: #e0e2e4;
$alink: #e53935;
$offwhite: #fbfbfb;
$body-font: montserrat, sans-serif;
$title-font:'Libre Baskerville', serif;
$spacer: 1rem;

@mixin base-font {
    font-family: $body-font;
    font-style: normal;
    font-weight: 600;
}

@mixin h-font {
    font-family: $title-font;
    font-style: normal;
    font-weight: 800;
}
//overrides
.ux-port {
    background-color: $bg-color;
    color: $font-color;
    line-height: 1.6;
    font-size: 1.1rem;
    @include base-font();
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    .display-1, .display-2,.display-3,.display-4,.display-5, .display-6{
        @include h-font;
    }
 
        .sub-section {
            h4,h5, h6, .h4, .h5, .h6 {
                text-align: end;
            }
        }
  
 

    a {
        color: $alink;
    }
    blockquote {
        font-style: oblique;
    }
    .card {
        background-color: transparent;
        a:hover {
            text-decoration: none;;
        }
    }

  
    .navbar {
        @include h-font;
    }
    .navbar-brand {
        //font-weight: 700;
        font-size: 2.5rem;
        color: $font-color;
        &:hover {
            color: $font-color;
        }
    }
    .port-hero img {
        max-height: 300px;
    }
    .port-hero, .jumbotron, .bg-contrast{
        background-color: $bg-contrast ;
    }

     .title-border {
        border-left: 3px solid $alink;
        padding-left: 1.2rem;
    }

    .port-section {
        padding-top: $spacer * 2.5;
        padding-bottom: $spacer * 2.5;
    }
    .sect-row {
        padding-top: $spacer;
        padding-bottom: $spacer * 2;
    }
    .justify-content-end {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .justify-content-end{
        -ms-flex-pack: end!important;
        justify-content: end!important;
    }
    .hp-card-img {
        //max-width: 520px;
        background-color: $offwhite;
        &:hover {
            background-color: $bg-contrast;
        }
    }

    .fr {
       background: url(../assets/FR.svg) no-repeat;
        background-position: right;

    }
    .profile {
        height: 300px;
        border-radius: 100%;
    }

    dd { font-weight: 100;}
    dt { font-weight: 900;}
    .table-bordered thead th {
        background: #e53834;
        color: #fff;
    }
    .table-bordered td, .table-bordered th, .table thead th {
        border: 1px solid #313131;
    }
    .social-container {

        a.social {
            margin: 0 1rem;
            transition: transform 250ms;
            display: inline-block;
          }

          a.social:hover {
            transform: translateY(-2px);
          }

          a{
            color: $font-color;
          }
          
         
      }  
      footer {
        background-color: $bg-contrast;
        p {font-family: $title-font;}
        h5 {font-size: 1rem;}
       
    }
    .lead {
        font-weight: 800;
    }
}
//Bootstrap imports
//@import "../../node_modules/bootstrap/scss/bootstrap";